@import "tailwindcss";

:root {
	--background: #092413;
	--highlight: #2BDA6E;
}

body {
	font-family: 'Archivo Variable', sans-serif;
	/* font-family: 'Inter', sans-serif !important; */
	background-color: var(--background);
}

h1, h2, h3 {
	letter-spacing: -1% !important;
}

.bgDarkestGreen {
	background-color: var(--background);
}
.bgLblGreen {
	background-color: var(--highlight);
}

.lbl-container {
	@apply max-w-[1100px] mx-auto px-4;
}
.lbl-btn {
	@apply bg-gradient-to-r from-[#2BDA6E] to-[#00FF62] text-[14px] md:text-[20px] md:px-[42px] md:py-[30px] rounded-lg block w-full px-4 py-6 text-center md:w-fit font-bold text-[#092413];
}
a.lbl-btn.--sm {
	@apply text-[14px];
}