---
import Faqs from '../components/Faqs.astro';
import Hero from '../components/Hero.astro';
import Pricing from '../components/Pricing.astro';
import Problems from '../components/Problems.astro';
import Solution from '../components/Solution.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Hero />
	<Problems />
	<Solution />
	<Pricing />
	<Faqs />
	<p class="py-8 text-white/80 text-center px-4 relative mt-14">
		© Landing Builders Lab 2025. Todos los derechos reservados.
	</p>
</Layout>
