<section class="py-[80px]">
	<div class="lbl-container">
		<div class="flex md:flex-row flex-col gap-8 md:gap-[100px]">
			<img
				class="w-[350px] md:mx-0 mx-auto"
				src="/images/tomas-costa-lbl.png"
				alt="Tomás Costa LBL"
			/>
			<div class="md:pt-8">
				<h2
					class="text-white text-[32px] md:text-[51px] font-bold leading-[100%] md:mt-8 drop-shadow-[0_15px_15px_rgba(255,255,255,0.25)]"
				>
					¿Quien soy?
				</h2>
				<p class="leading-[120%] text-[#2BDA6E] mt-8">
					Mi nombre es Tomás Costa, y no, no facture 100k este mes,
					pero si gane mucho más de lo que hubiera ganado si le
					siguiera vendiendo al mismo tipo de cliente que le vendia
					hasta hace 2 años. 
					<br><br>
					(Tipico negocio que quiere la página para
					“cumplir” y por ende quiere la opción más barata que
					encuentre). 				
					<br><br>
					Spoiler: no te conviene trabajar con este tipo
					de clientes, y por suerte yo lo note rapido, lo que no fue
					rapido fue aprender a encontrar al cliente dispuesto a pagar
					bien. 
					<br><br>
					Y estoy seguro de que no soy el unico que pasaba un
					presupuesto de usd300 y le pedian un descuento, por eso cree
					este curso, para darte el paso a paso que a mi me hubiera
					gustado tener por $47 pero tuve que pagar +2.500 por el +
					otros 1.000 tirados en anuncios mal hechos.
				</p>
			</div>
		</div>
	</div>
</section>
