<section class="pt-[20px] md:pt-[40px] overflow-x-clip relative">
	<div
		class="bgLblGreen size-[380px] rounded-full absolute -top-[280px] -leftAA-[190pxAAA] left-[calc(50%-190px)] blur-[190px]"
	>
	</div>
	<!-- <div
		class="bgLblGreen size-[380px] rounded-full absolute -top-[190px] -right-[190px] blur-[190px]"
	>
	</div> -->
	<div class="lbl-container relative">
		<img
			class="h-[40px] md:h-[46px] mx-auto"
			src="/images/landing-builders-lab-logo.png"
			alt="Landing Builders Lab"
		/>
		<div class="mt-12 md:my-16">
			<p
				class="bg-[#2BDA6E]/40 text-[12px] mt-8 md:text-[16px] border-2 border-[#2BDA6E] py-[13px] px-4 md:px-[27px] text-white rounded-full w-fit mx-auto"
			>
				🚨 La IA puede quitarte tu trabajo o ser tu mejor empleado, si
				preferis lo 2do tenes que ir un paso más allá
			</p>
			<h1
				class="text-white capitalize text-center leading-[100%] mt-8 text-[32px] md:text-[50px] font-semibold max-w-[1100px]"
			>
				Pasá de pelear con clientes que te regatean a cobrar +1.000 USD por
				cada landing page en menos de 60 días
			</h1>
			<p
				class="text-[#2BDA6E] md:text-[18px] mt-4 text-center max-w-[668px] leading-[100%] mx-auto"
			>
				En 2023 vendía webs enteras en WordPress a 250 dólares, pague
				una mentoría de usd 1.000, y entendí algo que puede cambiar tú
				vida y eso mismo explico en este curso de <span class="line-through">$197</span> $47 para que vos
				también lo aproveches.
			</p>
			<a
				class="lbl-btn my-10 mx-auto outline-1 outline-[#2BDA6E] outline-offset-4"
				href="https://pay.hotmart.com/Q99657630D?checkoutMode=10&bid=1757804978366"
			>
				ACCEDER AHORA A LANDING BUILDERS LAB
			</a>
		</div>

		<div class="relative">
			<div
				class="bgLblGreen -z-10 w-full h-[240px] rounded-full absolute top-[calc(50%-120px)] left-[calc(0)] blur-[190px]"
			>
			</div>
			<img
				class="relative z-40 w-full max-w-[1100px] mx-auto"
				src="/images/que-incluye-landing-builders-lab.webp"
				alt="Que incluye landing builders lab"
			/>
		</div>

		<h3
			class="text-center mt-8 text-[48px] md:text-[74px] leading-[100%] font-bold bg-gradient-to-b from-[#FFFFFF] to-[#2BDA6E] bg-clip-text text-transparent"
		>
			+100 Landings Vendidas
		</h3>
		<p class="text-white text-[18px] text-center mt-4">
			Usando el mismo método que te enseñamos en Landing Builders Lab
		</p>
	</div>
</section>
