---
import '@fontsource-variable/inter';
import '../styles/global.css'
import '@fontsource-variable/archivo';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Landing Builders Lab</title>
	</head>
	<body>
		<slot />
	</body>
</html>
